
# Data manipulation & analysis
pandas==2.3.0
numpy==2.3.1
openpyxl==3.1.5

# Frequent pattern mining
mlxtend==0.23.4

# Visualization
matplotlib==3.10.3
seaborn==0.13.2

# Machine learning
scikit-learn==1.7.0

# Deep Learning
torch==2.7.1

# API Backend
fastapi==0.115.14
uvicorn[standard]==0.35.0
pydantic==2.11.7

# Frontend / demo interface
streamlit==1.46.1

# Database / ORM
sqlalchemy==2.0.30

# DBT (for analytics pipelines or transformation)
dbt-core==1.10.2
dbt-sqlite==1.10.0
